:root {
    font-family: Helvetica, Arial, sans-serif;
}


@font-face {
    font-family: MTG;
    src: url(../assets/fonts/Matrix\ Bold.ttf);
}

main {
    background-color: gainsboro;
}



header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0.5em 1em;
    align-items: center;
    color:#ff4500;
    background-color: black;
}

h1 {
    font-family: MTG;
    font-size: 3.2em;
}

.card-or-mode-selector-form {
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-content: center;
    text-align: center;
}



.mode-selector {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.mode-selector input {
    display: none;
    background:gainsboro;
    height:40px;
    width:260px;

}

.mode-selector label {
    display: inline-block;
    border: outset 0.3em darkgray;
    padding: 0.15em;
}

.mode-selector input:checked + label {
    font-weight: bold;
    border-bottom: 3px solid black;
}

#search_wrapper {
    width:12em;
    height:2em;
    margin: auto;
    position: relative;
}
#submit-selector-input-button{
    border: solid 1px;
    position:absolute;
    left: 11.5em;
    width: 5em;
    height:2em;
    background-color:#ff4500;
    color:black;
}

input#mode-selector-input {
    background-color:black;
    color: #ff4500;
}

#mode-selector-input {
    height: 2em;
    border: none;
}

#mode-selector-input:active{
    border: none;
}

#mode-selector-input:active-view-transition{
    border: none;
}